body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* MENU */
.top-bar #logo {
  max-width: 100px;
  max-height: 100px;

}

.top-bar {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.top-bar ul li {
    margin-right: 20px;
}

.top-bar ul li a {
    color: white;
    text-decoration: none;
}

.top-bar ul li a:hover {
    color: orange;
}

.language-switcher {
    display: flex;
    align-items: center;
}

.language-button {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0px;
    padding: 3px;
}

.flag-icon {
    width: 24px;
    height: 16px;
}

/* MAIN */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.grid-item-img {
    text-align: center;
}

.inline-img {

  height: 100px;
}
